*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:linear-gradient(135deg,#f8f5f2,#ebe6df);
}

/* Container */

.booking-container{
    width:100%;
    max-width:430px;
    margin: 110px auto 30px;
    padding:20px;
    background:rgba(255,255,255,.95);
    border-radius:18px;
    box-shadow:0 15px 35px rgba(0,0,0,.12);
    backdrop-filter:blur(10px);
     
}

.booking-container h1{
    text-align:center;
    font-size:2rem;
    color:#222;
}

.booking-container p{
    text-align:center;
    color:#777;
    margin:8px 0 20px;
    font-size:.95rem;
}

.booking-container input,
.booking-container textarea{
    width:100%;
    padding:11px 14px;
    margin-bottom:12px;
    border:1px solid #ddd;
    border-radius:10px;
    outline:none;
    font-size:15px;
    transition:.3s;
}

.booking-container textarea{
    height:70px;
    resize:none;
}

.booking-container input:focus,
.booking-container textarea:focus{
    border-color:crimson;
    box-shadow:0 0 10px rgba(220,20,60,.15);
}

.booking-container button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
    background:linear-gradient(135deg,#d90429,#ef233c);
    color:#fff;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

.booking-container button:hover{
    transform:translateY(-3px);
    box-shadow:0 10px 20px rgba(220,20,60,.25);
}

/* Large Desktop */

@media(min-width:1200px){

.booking-container{
    max-width:420px;
    padding:18px;
    margin:12px auto;
}

.booking-container h1{
    font-size:1.9rem;
}

.booking-container input,
.booking-container textarea{
    padding:10px 14px;
    margin-bottom:10px;
}

.booking-container textarea{
    height:65px;
}

}

/* Laptop */

@media(max-width:992px){

.booking-container{
    max-width:450px;
}

}

/* Tablet */

@media(max-width:768px){

.booking-container{
    width:90%;
    padding:20px;
    margin:25px auto;
    min-height: 100vh;
}

.booking-container h1{
    font-size:1.8rem;
}

}

/* Mobile */

@media(max-width:480px){

.booking-container{
    width:95%;
    padding:18px;
    border-radius:15px;
}

.booking-container h1{
    font-size:1.6rem;
}

.booking-container p{
    font-size:.85rem;
}

.booking-container input,
.booking-container textarea,
.booking-container button{
    font-size:14px;
}

.booking-container textarea{
    height:75px;
}

}
body{
    padding-top:90px;
}