.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
  margin-top: 80px;
}

.gallery-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;
  transition:transform 0.3s ease ;
}
.gallery-cards:hover{
    transform: translateY(-10px);
}

.gallery-cards img {
  width: 350;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}

.gallery-cards p {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}
.gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gallery-heading{
    margin-top:150px;
}
.gallery-heading h1{
    font-size: 3rem;

}
.gallery-heading p{
color: #555;
font-size: 2rem;

}