.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
gap:20px;
flex:2;
margin-top:250px;
}
.card{
    background-color: wheat;
    height: 150px;
    padding: 20px;
    color:white;
    width: 250px;
    display: flex;
    gap:15px;
    flex-direction: column;
    color: black;
    border:3px solid white;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);;
    transition: transform 0.3s ease;
    border-radius: 50px;

}
.card:hover{
    transform:translatey(-10px);

}
.review{
    display:flex;
   gap:50px;
    justify-content: center;
}
.txt{
    flex:1;
    
    margin-top:110px;
    margin-left: 160px;
}
.txt h1{
    font-size: 4rem;

}
.txt h2{
    margin-top:30px;
    line-height: 1.5;
    font-size: 1.3rem;
    color:#555;
    font-weight: 400;

}
.txt img{
    
   width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
  transition:transform 0.6s ease;
  margin-top:30px;
}
.txt img:hover{
    transform: scale(1.08);
}


