.footer{
    background:#2c1810;
    color:white;
    text-align:center;
    padding:80px 10%;
}

.footer h2{
    font-size:2.3rem;
    margin-bottom:20px;
}

.footer p{
    max-width:700px;
    margin:0 auto;
    line-height:1.8;
    color:#ddd;
    font-size:1.05rem;
}

.footer-btns{
    margin-top:35px;
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.footer-btns button{
    padding:14px 28px;
    border:none;
    border-radius:50px;
    background:#d4a373;
    color:white;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:0.3s;
}

.footer-btns button:hover{
    background:#b87333;
    transform:translateY(-5px);
}

.copyright{
    margin-top:40px;
    color:#bdbdbd;
    font-size:14px;
}